---
layout: default
title: Archive
---
{% assign numPhotos = site.photos.size %}
{% assign numPosts = site.posts.size %}
<h1>Archive</h1>
<div class="columns">
	<div>
	<h2>Photos - {{ numPhotos }}</h2>

	<ul class="archive">
		{% assign sorted = site.photos | sort:'number' | reverse %}
		{% for post in sorted %}
			<li>
				<h3><a class="post" href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>{{ post.excerpt }}</p>
			</li>
		{% endfor %}
	</ul>
	</div>
	<div>
	<h2>Posts - {{ numPosts }}</h2>

	<ul class="archive">
		{% for post in site.posts %}
			<li>
				<h3><a class="post" href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>{{ post.excerpt }}</p>
			</li>
		{% endfor %}
	</ul>
	</div>
</div>
