---
layout: default
title: Collections
---
<h1>COLLECTIONS</h1>
{% for c in site.collections %}
	{% capture photopath %}
		{{ c.name }}/header
	{% endcapture %}
	{% assign photopath = photopath | strip %}
	<div class="collection">
		{% for image in site.static_files %}
			{% if image.path contains photopath %}
				<img class="header" src="{{ image.path }}" alt="image"/>
			{% endif %}
		{% endfor %}
		<div class="image_text">
			<a href="{{ c.url }}">{{ c.title | upcase }}</a>
		</div>
	</div>
{% endfor %}
