---
layout: default
title: More
---
<h1>Subjects</h1>
<ul class="blog">
	{% for subject in site.subjects %}
	<li>
		<h3><a class="post" href="{{ subject.url }}">{{ subject.name }}</a></h3>
	</li>
	{% endfor %}
</ul>
<!--
<h1>Styles</h1>
<ul class="blog">
	{% assign sorted = site.subjects | group_by:'type'%}
	{% for subject in sorted %}
	<li>
		<button class="accordion">{{ subject.name | capitalize | append:'s' }}</button>
		<div class="panel">
			{% for sub in site.subjects%}
				{% if sub.type == subject.name %}
					<a class="panel" href="{{ sub.url }}">{{ sub.name }}</a>
					<br>
				{% endif %}
			{% endfor %}
		</div>
	</li>
	{% endfor %}
</ul>

<script src="/assets/scripts/accordion.js" charset="utf-8"></script>
-->
