---
layout: default
title: Photo Gallery
---
<h1>Photo Gallery</h1>

<!-- {% assign shuffled = site.photos | shuffle %} -->
{% assign shuffled = site.photos | sort:'number' | reverse %}
<div class="row">
  {% assign len = shuffled.size %}
  {% assign cols = 4 %}
  {% assign lines = shuffled.size | divided_by:cols %}

  {% assign start = 0 %}
  {% for i in (0..lines) %}
    <div class="column">
      {% assign offset = start | plus:cols | minus:1 %}
      {% if offset >= len %}
        {% assign offset = len | minus:1 %}
      {% endif %}
      {% for k in (start..offset) %}
        <a href="{{ shuffled[k].url }}">
        <img src="/assets/photos/{{ shuffled[k].imgPath }}" alt="{{ shuffled[k].alt }}" style="width:100%"></a>
      {% endfor %}
    </div>
    {% assign start = start | plus:cols %}
  {% endfor %}
</div>
