html {
	background-color: whitesmoke;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3%;
}
header.nav-bar {
	background-color: silver;
	padding-bottom: 44px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

img.one-photo {
  display: block;
  margin: auto;
  padding-bottom: 2%;
  width: 70%;
}
div.photo-meta {
  font-family: monospace;
  text-align: right;
  padding-bottom: 1.5%;
}

* {
	box-sizing: border-box;
}
div.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 3%;
}
div.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
div.column img {
  margin-top: 8px;
  vertical-align: middle;
}
div.column img:hover {
	opacity: 0.60;
}
@media screen and (max-width: 800px){
  div.column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px){
  div.column {
    flex: 100%;
    max-width: 100%;
  }
}

h1 {
  line-height: 70%;
  font-size: 25px;
	clear: right;
	font-family: sans-serif;
	border-bottom: 4px solid midnightblue;
	padding-bottom: 8px;
}
h2, h3, h4, h5, h6 {
  line-height: 2%;
	font-family: sans-serif;
}
h1.intro {
  padding-top: 3%;
  border-bottom: 0px;
  font-family: monospace;
  text-align: center;
}
p {
  font-weight: normal;
	font-family: monospace;
	font-size: 13px;
}

ul.staff {
	padding-left: 20px;
	list-style-type: none;
}
ul.staff li{
	padding-left: 10px;
	border-left: 5px double firebrick;
}

ul.archive {
	font-size: 15px;
	list-style-type: square;
  line-height: 44%;
}

a.current {
	float: right;
	font-family: monospace;
	color: white;
	padding: 8px 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: slategrey;
	border: 2px solid slategrey;
}

a.nav:link, a.nav:visited {
	float: right;
	font-family: monospace;
	background-color: white;
	color: black;
	border: 2px solid slategrey;
	padding: 8px 3%;
	text-align: center;
	text-decoration: none;
}
a.nav:hover, a.nav:active {
	background-color: black;
	border: 2px solid black;
	color: white;
}

a.post:link, a.post:visited {
	font-family: sans-serif;
	color: dimgrey;
	text-decoration: none;
}
a.post:hover, a.post:active {
	color: darkred;
	cursor: pointer;
}

a.staff:link, a.staff:visited {
	font-family: sans-serif;
	color: darkgreen;
	text-decoration: none;
}
a.staff:hover, a.staff:active {
	color: goldenrod;
	cursor: pointer;
}

img.img-post {
  display: block;
  vertical-align: middle;
  width: 40%;
  margin: 1%;
}

footer {
	clear: both;
	border-top: 4px solid midnightblue;
	padding-top: 10px;
}
a.footer:link, a.footer:visited {
	font-size: 15px;
	padding-right: 10px;
	font-family: sans-serif;
	font-weight: bold;
	color: plum;
	text-decoration: none;
}
a.footer:hover, a.footer:active {
	color: thistle;
	cursor: pointer;
}
