html {
	background-color: whitesmoke;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}
header.nav-bar {
	background-color: silver;
	padding-bottom: 44px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

div.body{
	font-size: 13px;
}

h1 {
	clear: right;
	font-family: sans-serif;
	border-bottom: 4px solid midnightblue;
	padding-bottom: 10px;
}
h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}
p {
	font-family: monospace;
	font-size: 13px;
}

ul.staff {
	padding-left: 20px;
	list-style-type: none;
}
ul.staff li{
	padding-left: 10px;
	border-left: 5px double firebrick;
}

ul.blog {
	font-size: 15px;
	list-style-type: square;
}

a.current {
	float: right;
	font-family: monospace;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: slategrey;
	border: 2px solid slategrey;
}

a.nav:link, a.nav:visited {
	float: right;
	font-family: monospace;
	background-color: white;
	color: black;
	border: 2px solid slategrey;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
}
a.nav:hover, a.nav:active {
	background-color: black;
	border: 2px solid black;
	color: white;
}

a.post:link, a.post:visited {
	font-family: sans-serif;
	color: dimgrey;
	text-decoration: none;
}
a.post:hover, a.post:active {
	color: darkred;
	cursor: pointer;
}

a.staff:link, a.staff:visited {
	font-family: sans-serif;
	color: darkgreen;
	text-decoration: none;
}
a.staff:hover, a.staff:active {
	color: goldenrod;
	cursor: pointer;
}

footer {
	border-top: 4px solid midnightblue;
	padding-top: 10px;
}
a.footer:link, a.footer:visited {
	font-size: 15px;
	padding-right: 10px;
	font-family: sans-serif;
	font-weight: bold;
	color: plum;
	text-decoration: none;
}
a.footer:hover, a.footer:active {
	color: thistle;
	cursor: pointer;
}
