//general
html {
	background-color: whitesmoke;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}
//general text
h1 {
	font-size: 25px;
	clear: both;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom: 4px solid midnightblue;
	padding-bottom: 8px;
	padding-top: 10px;
}
h2, h3, h4, h5, h6 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1%;
}
h1.intro {
	padding-top: 3%;
	border-bottom: 0px;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}
p {
	font-weight: normal;
	font-family: "Lucida Console", Monaco, monospace;
}
//header
header {
	padding-top: 1%;
}
header a{
	float: right;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	color: black;
	border: 2px hidden black;
}
a.current {
	border-style: solid;
	padding: 8px 3%;
}
a.nav:link, a.nav:visited {
	padding: 8px 3%;
}
a.nav:hover, a.nav:active {
	background-color: black;
	color: white;
}
//photo page
img.one-photo {
  display: block;
  margin: auto;
  padding-bottom: 2%;
  width: 80%;
}
div.photo-meta {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: right;
  padding-bottom: 1.5%;
}
//photo grid
div.grid-row{
	line-height: 10px;
	-webkit-column-count: 5;
	-webkit-column-gap:   7px;
	-moz-column-count:    5;
	-moz-column-gap:      7px;
	column-count:         5;
	column-gap:           7px;
}
div.grid-row img{
	padding-bottom: 7px;
	width: 100%;
	height: auto;
}
div.grid-row img:hover{
	opacity: 0.6;
}
@media (max-width: 1100px) {
	div.grid-row {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
}
@media screen and (max-width: 900px) {
	div.grid-row {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}
@media screen and (max-width: 700px) {
	div.grid-row {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}
//author page
div.columns {
	display: grid;
	grid-template-columns: auto auto;
}
//bio on subject page
div.bio {
	padding-bottom: 2%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: "Lucida Console", Monaco, monospace;
}
//list for staff
ul.staff {
	padding-left: 20px;
	list-style-type: none;
}
ul.staff li{
	padding-left: 10px;
	border-left: 5px double firebrick;
}
//list for archive
ul.archive {
	font-size: 15px;
	list-style-type: square;
}
//links
//post/photo
a.post:link, a.post:visited {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: dimgrey;
	text-decoration: none;
}
a.post:hover, a.post:active {
	color: darkred;
	cursor: pointer;
}
//staff members
a.staff:link, a.staff:visited {
	font-family: "Lucida Console", Monaco, monospace;
	color: darkgreen;
	text-decoration: none;
}
a.staff:hover, a.staff:active {
	color: goldenrod;
	cursor: pointer;
}
//general
a.ref:link, a.ref:visited {
	font-family: "Lucida Console", Monaco, monospace;
	color: darkred;
	text-decoration: none;
}
a.ref:hover, a.ref:active {
	color: dimgrey;
	cursor: pointer;
}
//photo categories accordion
button.accordion {
	background-color: whitesmoke;
	color: dimgrey;
	border-style: hidden;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}
button.active, button.accordion:hover{
	color: darkred;
}
div.panel {
	padding-left: 2%;
	background-color: whitesmoke;
	color: yellow;
	display: none;
}
a.panel:link, a.panel:visited {
	font-size: 18px;
	text-decoration: none;
	color: dimgrey;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a.panel:hover, a.panel:active {
	color: darkred;
}
//footer navigation
footer {
	font-size: 15px;
	clear: both;
	border-top: 4px solid midnightblue;
	padding-top: 10px;
}
a.footer:link, a.footer:visited {
	padding-right: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: plum;
	text-decoration: none;
}
a.footer:hover, a.footer:active {
	color: thistle;
	cursor: pointer;
}
