figure .hll { background-color: #49483e }
figure.highlight  {
  background: #2E3440; /* background */
  color: #9F79CB; /* generall text */
  font-weight: 50;
  overflow: scroll;
  word-break: normal;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  border-style: inset;
 }
.highlight .c {
  color: #8D8D8D;
  font-style: italic;
} /* Comment light grey */
.highlight .err { color: #960050; /* dark pink */ background-color: #1e0010 /* dark purple, almost black */} /* Error */
.highlight .k { color: #9F79CB } /* Keyword purple */
.highlight .l { color: #9F79CB } /* Literal light purple */
.highlight .n { color: #C9C9C9 } /* Name basically white */
.highlight .o { color: #C9C9C9 } /* Operator basically white */
.highlight .p { color: #C9C9C9 } /* Punctuation basically white */
.highlight .ch {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.Hashbang light grey */
.highlight .cm {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.Multiline light grey */
.highlight .cp {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.Preproc light grey */
.highlight .cpf {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.PreprocFile light grey */
.highlight .c1 {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.Single light grey */
.highlight .cs {
  color: #8D8D8D;
  font-style: italic;
} /* Comment.Special light grey */
.highlight .gd { color: #f92672 } /* Generic.Deleted neon pink */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #57ABE4 } /* Generic.Inserted blue*/
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu {
  color: #8D8D8D;
  font-style: italic;
} /* Generic.Subheading light grey */
.highlight .kc { color: #D8A244 } /* Keyword.Constant orange */
.highlight .kd { color: #9F79CB } /* Keyword.Declaration purple */
.highlight .kn { color: #9F79CB } /* Keyword.Namespace neon pink */
.highlight .kp { color: #9F79CB } /* Keyword.Pseudo purple */
.highlight .kr { color: #9F79CB } /* Keyword.Reserved purple */
.highlight .kt { color: #D8A244 } /* Keyword.Type orange */
.highlight .ld { color: #8BDF7A } /* Literal.Date green */
.highlight .m { color: #9F79CB } /* Literal.Number light purple */
.highlight .s { color: #8BDF7A } /* Literal.String green */
.highlight .na { color: #BA4D58 } /* Name.Attribute red */
.highlight .nb { color: #57ABE4 } /* Name.Builtin basically white */
.highlight .nc { color: #D8A244 } /* Name.Class orange */
.highlight .no { color: #9F79CB } /* Name.Constant purple */
.highlight .nd { color: #57ABE4 } /* Name.Decorator blue */
.highlight .ni { color: #C9C9C9 } /* Name.Entity basically white */
.highlight .ne { color: #57ABE4 } /* Name.Exception blue */
.highlight .nf { color: #57ABE4 } /* Name.Function blue */
.highlight .nl { color: #C9C9C9 } /* Name.Label basically white */
.highlight .nn { color: #C9C9C9 } /* Name.Namespace basically white */
.highlight .nx { color: #57ABE4 } /* Name.Other blue */
.highlight .py { color: #C9C9C9 } /* Name.Property basically white */
.highlight .nt { color: #C9C9C9 } /* Name.Tag basically white */
.highlight .nv { color: #C9C9C9 } /* Name.Variable basically white */
.highlight .ow { color: #9F79CB } /* Operator.Word purple */
.highlight .w { color: #C9C9C9 } /* Text.Whitespace basically white */
.highlight .mb { color: #D8A244 } /* Literal.Number.Bin orange */
.highlight .mf { color: #D8A244 } /* Literal.Number.Float orange */
.highlight .mh { color: #D8A244 } /* Literal.Number.Hex orange */
.highlight .mi { color: #D8A244 } /* Literal.Number.Integer orange */
.highlight .mo { color: #D8A244 } /* Literal.Number.Oct orange*/
.highlight .sa { color: #8BDF7A } /* Literal.String.Affix green */
.highlight .sb { color: #8BDF7A } /* Literal.String.Backtick green */
.highlight .sc { color: #8BDF7A } /* Literal.String.Char green */
.highlight .dl { color: #8BDF7A } /* Literal.String.Delimiter green */
.highlight .sd { color: #8BDF7A } /* Literal.String.Doc green */
.highlight .s2 { color: #8BDF7A } /* Literal.String.Double green */
.highlight .se { color: #58B5B5 } /* Literal.String.Escape light blue */
.highlight .sh { color: #8BDF7A } /* Literal.String.Heredoc green */
.highlight .si { color: #8BDF7A } /* Literal.String.Interpol green */
.highlight .sx { color: #8BDF7A } /* Literal.String.Other green */
.highlight .sr { color: #8BDF7A } /* Literal.String.Regex green */
.highlight .s1 { color: #8BDF7A } /* Literal.String.Single green */
.highlight .ss { color: #8BDF7A } /* Literal.String.Symbol green */
.highlight .bp { color: #E1AA4C } /* Name.Builtin.Pseudo basically white */
.highlight .fm { color: #57ABE4 } /* Name.Function.Magic blue */
.highlight .vc { color: #C9C9C9 } /* Name.Variable.Class basically white */
.highlight .vg { color: #C9C9C9 } /* Name.Variable.Global basically white */
.highlight .vi { color: #C9C9C9 } /* Name.Variable.Instance basically white */
.highlight .vm { color: #C9C9C9 } /* Name.Variable.Magic basically white */
.highlight .il { color: #9F79CB } /* Literal.Number.Integer.Long light purple */
