---
layout: default
---
<h1>{{ page.name }}</h1>

<div class="grid-row">
	{% assign sorted = site.photos | where: 'subject', page.subject %}
	{% for photo in sorted %}
	<div>
		<a href="{{ photo.url }}"><img src="/assets/photos/{{ photo.imgPath }}" alt="{{ photo.alt }}" style="width:100%"></a>
	</div>
	{% endfor %}
</div>

{{ content }}

<!-- <ul>
	{% assign filtered_photos = site.photos | where: 'subject', page.subject %}
	{% for photo in filtered_photos %}
		<li><a class="post" href="{{ photo.url }}">{{ photo.title }}</a></li>
	{% endfor %}
</ul> -->
